@charset "UTF-8";
/**
 * Fichier CSS
 * Fichier maître pour assembler tous les fichiers css
 * @author Michael Larboni
 * @version 1.0
 */


/*@import "bootstrap.css";*/
/*@import "signin.css";*/

/*body{*/
/*    background: #85918c;*/
/*}*/
select {
    min-width: 300px;
    width: auto;
    background-color: #ffffff;
    border: 1px solid #cccccc;
    font-weight: 300;
}

label{
    padding: 8px;
    font-weight: bold;
    font-size: 14px;
}

.vertical-center {
    margin-top: 50vh;
    transform: translateY(-50%);
}